.contact {
  padding: 50px;

  h2 {
    text-align: center;
    padding: 25px;
  }

  .contact-map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    p {
      font-size: 20px;
    }

  }
}